<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DE Portfolio</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/roseicon.ico">
    <link rel="stylesheet" href="../static/assests/aboutstyle.css">
    <link rel="stylesheet" href="https://use.typekit.net/yhx0keo.css">
    <script src="https://kit.fontawesome.com/d23442c1d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <a href="index" class="logotext"><h1 class="logotext">DE</h1></a>
    </div>
    
    <div class="wrapper">
    <div id="windowBar">
        <div class="titlebar">aboutMe.html</div>
        <a href="index"><div class="closebutton"><i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i></div></a>
        <div class="contentwindow">
            <div class="aboutwrapper">
                <br>
                <p>I am Daan Eggen. I started programming in early 2023. I'm studying to become a software developer at Vista College in Heerlen. I am realy into front-end development an graphic design, I also like datamanagment. I like projects that challenge me, and I'm a very patient person.<br><br> I love cooking for my family and getting quality time with them.</p>
                <div class="skillhobbies">
                <div class="skillswrapper">
                    <h1>Skills</h1>
                <div class="skills"><i class="fa-brands fa-html5"></i>
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-js"></i>
                    <i class="fa-brands fa-python"></i>
                </div>    
                </div>
                <div class="hobbieswrapper">
                <h1>Hobbies</h1>
                <div class="hobbies"><i class="fa-solid fa-volleyball"></i>
                    <i class="fa-solid fa-dumbbell"></i>
                    <i class="fa-solid fa-gamepad"></i>
                    <i class="fa-solid fa-chess"></i></div>
                </div>
                </div>
                </div>

        </div>
    </div>
    </div>
    


    <div class="socialIcons">
            
        <span><a href="mailto:egdaan@gmail.com" target="_blank"><img src="../static/assests/mailIcon.png" alt="Mail" class="socialicon"></span> </a>
        <span><a href="https://github.com/Daan5556" target="_blank"><img src="../static/assests/githubIcon.png" alt="Github" class="socialicon"></span> </a>
        <span><a href="https://www.linkedin.com/in/daan-eggen-714a125a/" target="_blank"><img src="../static/assests/linkdinIcon.png" alt="Linkdin" class="socialicon"></span> </a>
    </div>
</body>
</html>
