<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DE Portfolio</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/roseicon.ico">
    <link rel="stylesheet" href="../static/assests/contactstyle.css">
    <link rel="stylesheet" href="https://use.typekit.net/yhx0keo.css">
    <script src="https://kit.fontawesome.com/d23442c1d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <a href="index" class="logotext"><h1 class="logotext">DE</h1></a>
    </div>
    
    <div class="wrapper">
    <div id="windowBar">
        <div class="titlebar">contact.html</div>
        <a href="index"><div class="closebutton"><i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i></div></a>
        <div class="contentwindow"> 
            <form action="contact">
                <div class="form">
                <input type="text" id="name" name="name" placeholder="Name">
                <br>
                <input type="email" id="mail" name="mail" placeholder="Mail">
                <br>
                <textarea id="message" name="message" placeholder="Message"></textarea>
                <br>
                <input type="submit" value="Submit" id="submit">
                </div>
        </form>
        </div>
    </div>
    </div>
    


    <div class="socialIcons">
            
        <span><a href="mailto:egdaan@gmail.com" target="_blank"><img src="../static/assests/mailIcon.png" alt="Mail" class="socialicon"></span> </a>
        <span><a href="https://github.com/Daan5556" target="_blank"><img src="../static/assests/githubIcon.png" alt="Github" class="socialicon"></span> </a>
        <span><a href="https://www.linkedin.com/in/daan-eggen-714a125a/" target="_blank"><img src="../static/assests/linkdinIcon.png" alt="Linkdin" class="socialicon"></span> </a>
    </div>
</body>
</html>
