<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DE Portfolio</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/roseicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/yhx0keo.css">
    <link rel="stylesheet" href="../static/assests/style.css">
    <script src="https://kit.fontawesome.com/d23442c1d8.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="header">
            <a href="index" class="logotext"><h1 class="logotext">DE</h1></a>
        </div>
        <div class="navList">
            <a href="aboutme" class="navItems">About me</a>
            <a href="projects" class="navItems">Projects</a>
            <a href="contact" class="navItems" id="contact">Contact</a>
        </div>
        <div class="sdWrapper">
        <h1 id="hello">Hello my name is Daan and I am a</h1>
            <h1 id="software">Software</h1>
            <h1 id="developer">Developer</h1>
        </div>    
            <img id="daan" src="../static/assests/daan.png" alt="Daan">

        <div class="socialIcons">
            
            <span><a href="mailto:egdaan@gmail.com" target="_blank"><img src="../static/assests/mailIcon.png" alt="Mail" class="socialicon"></span> </a>
            <span><a href="https://github.com/Daan5556" target="_blank"><img src="../static/assests/githubIcon.png" alt="Github" class="socialicon"></span> </a>
            <span><a href="https://www.linkedin.com/in/daan-eggen-714a125a/" target="_blank"><img src="../static/assests/linkdinIcon.png" alt="Linkdin" class="socialicon"></span> </a>
        </div>




    
</body>
</html> 