<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DE Portfolio</title>
    <link rel="icon" type="image/x-icon" href="../static/assests/roseicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/yhx0keo.css">
    <link rel="stylesheet" href="../static/assests/projectsstyle.css">
    <script src="https://kit.fontawesome.com/d23442c1d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <a href="index" class="logotext"><h1 class="logotext">DE</h1></a>
    </div>

    <a href="projects" class="navItems">Projects</a>
    
    <div class="wrapper">
    <div id="windowBar">
        <div class="titlebar">ratingWebsite.html</div>
        <a href="index"><div class="closebutton"><i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i></div></a>
        <div class="contentwindow"><p><br>Single handedly build a website for users to give their ratings.<br><br>Made the form pages in HTML and styled them with CSS.  Worked on the backend so that data would be saved to the server. Hosted the site on an external server. Set up on location so that service could be used and users could connect to the website.</p>
                <div class="langbox">
            <i class="fa-brands fa-python fa-3x"></i>
            <i class="fa-brands fa-html5 fa-3x"></i>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
        </div>
            
        </div>
    </div>

    <div id="windowBar">
        <div class="titlebar">dataManagement.html</div>
        <a href="index"><div class="closebutton"><i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i></div></a>
        <div class="contentwindow"><p><br>Made a product that used text files as input, and automaticaly sorted the data. Output is mails and excels sheets.<br><br> Worked with data structures and multiple packages that can interact with external applications. Made automated process with focus on user friendliness.

        </p>
                <div class="langbox">
            <i class="fa-brands fa-python fa-3x"></i>
        </div>
            
        </div>
    </div>

    <div id="windowBar">
        <div class="titlebar">numberGuesser.html</div>
        <a href="index"><div class="closebutton"><i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i></div></a>
        <div class="contentwindow"><p><br>Build a number guessing game in python. <br><br>Made use of packages, learned how to use variables, logic & IDE.</p>
                <div class="langbox">
            <i class="fa-brands fa-python fa-3x"></i>
        </div>
            
        </div>
    </div>

    <div id="windowBar">
        <div class="titlebar">yourProjectHere.html</div>
        <a href="index"><div class="closebutton"><i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i></div></a>
        <div class="contentwindow"><p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, possimus. Voluptatibus, expedita. Explicabo animi, sit quod cupiditate vero optio perspiciatis, pariatur dolore soluta, laudantium obcaecati?</p>
                <div class="langbox">
                <i class="fa fa-code fa-3x" aria-hidden="true"></i>
        </div>
            
        </div>
    </div>

    </div>

    <div class="socialIcons">
            
        <span><a href="mailto:egdaan@gmail.com" target="_blank"><img src="../static/assests/mailIcon.png" alt="Mail" class="socialicon"></span> </a>
        <span><a href="https://github.com/Daan5556" target="_blank"><img src="../static/assests/githubIcon.png" alt="Github" class="socialicon"></span> </a>
        <span><a href="https://www.linkedin.com/in/daan-eggen-714a125a/" target="_blank"><img src="../static/assests/linkdinIcon.png" alt="Linkdin" class="socialicon"></span> </a>
    </div>

</body>
</html>